@charset "UTF-8"; 
.pic1 {
    width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
}

div {
    width: 350px;;
    height: 330px;
    background-color: rgba(255,255,255,0.5);
    margin-left: 500px;
    margin-top: 80px;
    border-style: solid;
    border-width: 1px;
    border-color: #C0C0C0;
    border-radius: 40px;
}

div.div1 {
    width: 350px;;
    height: 50px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    margin-top: 25px;
    padding-top: 20px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

form{
    text-align: center;
    opacity: 0.8;
}

input{
    width: 200px;
    height: 30px;
    background-color : rgba(256,256,256,0.6);
}

a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    color: #003569;
}

a:hover {
    color: blue;
}

.button:hover {
    background-color: gray;
    cursor: pointer;
    color: white;
    }

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
display: none;}